/Gemfile.lock
.idea/
.bundle

#### Magento Core
## Folders
src/vendor
vendor/
log
src/app/design/*/Magento
src/lib/internal
src/lib/web/css
src/lib/web/extjs
src/lib/web/tiny_mce
src/lib/web/prototype
src/lib/web/mage
src/lib/web/jquery
src/lib/web/fonts/opensans
src/lib/web/fonts/UX-Icons
src/lib/web/fonts/MUI-Icons
src/lib/web/fonts/Blank-Theme-Icons
src/lib/web/MutationObserver.js
src/lib/web/blank.html
src/lib/web/es6-collections.js
src/lib/web/fotorama/fotorama.js
src/lib/web/fotorama/fotorama.min.js
src/lib/web/i18n/en_US.csv
src/lib/web/images/bkg_gallery_thumbs.png
src/lib/web/images/blank-theme-icons.png
src/lib/web/images/debug_bkg.png
src/lib/web/images/loader-1.gif
src/lib/web/images/loader-2.gif
src/lib/web/images/logo.svg
src/lib/web/images/magento-logo.svg
src/lib/web/images/spacer.gif
src/lib/web/images/sprite-gallery.png
src/lib/web/images/sprite-gallery.svg
src/lib/web/jquery.js
src/lib/web/knockoutjs/knockout-es5.js
src/lib/web/knockoutjs/knockout-fast-foreach.js
src/lib/web/knockoutjs/knockout-repeat.js
src/lib/web/knockoutjs/knockout.js
src/lib/web/legacy-build.min.js
src/lib/web/less/config.less.js
src/lib/web/less/less.min.js
src/lib/web/lib/ccard.js
src/lib/web/lib/storage.js
src/lib/web/magnifier/magnifier.js
src/lib/web/magnifier/magnify.js
src/lib/web/matchMedia.js
src/lib/web/modernizr/modernizr.2.0.6.js
src/lib/web/modernizr/modernizr.details.js
src/lib/web/modernizr/modernizr.js
src/lib/web/moment.js
src/lib/web/requirejs/domReady.js
src/lib/web/requirejs/require.js
src/lib/web/requirejs/text.js
src/lib/web/scriptaculous/builder.js
src/lib/web/scriptaculous/effects.js
src/lib/web/spacer.gif
src/lib/web/underscore.js
src/lib/web/varien/form.js
src/lib/web/varien/js.js
src/dev/tools/grunt/*
src/dev/tests
src/dev/tools/Magento
src/dev/tools/bootstrap.php
src/dev/tools/dynamicReturnTypeMeta.json
src/pub/errors
src/pub/media
src/pub/opt/magento/var/resource_config.json
src/pub/static.php
src/pub/static/.htaccess
src/pub/static
src/setup
src/var

## Unrelated Files
src/.htaccess.sample
src/.php_cs
src/.travis.yml
src/CHANGELOG.md
src/CONTRIBUTING.md
src/CONTRIBUTOR_LICENSE_AGREEMENT.html
src/COPYING.txt
src/LICENSE.txt
src/LICENSE_AFL.txt
src/app/.htaccess
src/app/autoload.php
src/app/bootstrap.php
src/app/etc/NonComposerComponentRegistration.php
src/app/etc/di.xml
src/app/etc/vendor_path.php
src/app/functions.php
src/bin/.htaccess
src/bin/magento
src/dev/.htaccess
src/index.php
src/lib/.htaccess
src/nginx.conf.sample
src/package.json
src/php.ini.sample
src/phpserver
src/pub/cron.php
src/pub/get.php
src/pub/.user.ini
src/pub/index.php
src/app/etc/env.php
src/node_modules
src/.user.ini

##### Rewritten core files
!src/dev/tools/grunt/configs/
src/dev/tools/grunt/configs/*
!src/dev/tools/grunt/configs/themes.js
src/.htaccess
!src/dev/tools/grunt/tasks/
src/dev/tools/grunt/tasks/*
!src/dev/tools/grunt/tasks/flagbit/
/src/ISSUE_TEMPLATE.md
/src/package.json.sample
/src/Gruntfile.js.sample
/src/dev/travis/before_install.sh
/src/dev/travis/before_script.sh
/src/pub/.htaccess
/src/lib/web/FormData.js
/src/lib/web/images/cards.png
